@import "tailwindcss";
@plugin "daisyui";

:root {
  --root-bg: var(--background);
  --page-scroll-bg: var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  overflow-y: auto !important;
  padding-right: 0 !important;
  scrollbar-gutter: stable;
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-cabin), Arial, Helvetica, sans-serif;
  color: #ffffff;
}


